/* CONTAINERS */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.main_container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgb(40, 40, 40);
  background-size: cover;
  overflow-y: auto;
}
/* ________________________________________________________________ */

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main_heading {
  display: flex;
  color: red;
  position: relative;
  top: 3%;
  left: 20px;
  font-size: 36px;
  font-weight: 900;
}

#sub_heading {
  position: relative;
  display: flex;
  flex-direction: column;
  color: silver;
  top: 5%;
  left: 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile_img {
  position: relative;
  display: flex;
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  right: 10%;
  top: 5%;
  margin-bottom: 10px;
}

.profile_img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile_btn-primary {
  position: relative;
  height: auto;
  right: 10%;
}
/* ________________________________________________________________ */

/* SEARCH */
.search_bar {
  position: relative;
  margin-top: 50px;
  left: 20px;
  margin-bottom: 50px;
}

.search_bar input {
  position: relative;
  padding-right: 35%;
  padding-bottom: 6px;
}

#search_button {
  position: relative;
}
/* ___________________________________________________________________ */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

/* LIST */
.list_container {
  position: relative;
  left: 20px;
  padding: 2%;
  background: linear-gradient(135deg, rgb(58, 57, 57), black);
  max-width: 700px;
  min-width: 600px;
  box-shadow: 0 4px 20px 0 rgba(241, 237, 237, 0.2),
    0 6px 20px 0 rgba(48, 45, 45, 0.19);
  color: white;
}

.title_input {
  text-align: center;
}

.title_input #title {
  text-align: center;
}

.checklist li {
  list-style: none;
  padding: 15px 0 0 0;
}

.add_task_button {
  margin-top: 20px;
  margin-left: 20px;
}
/* ______________________________________________________________ */

/* NOTES */
.notes_container {
  position: relative;
  right: 20px;
  max-width: 600px;
  min-width: 500px;
  background: linear-gradient(135deg, rgb(58, 57, 57), black);
  padding: 1%;
  color: white;
  overflow-y: scroll;
  scrollbar-color: gray black;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(241, 237, 237, 0.2),
    0 6px 20px 0 rgba(48, 45, 45, 0.19);
}

.notes_container h3 {
  font-family: "Courier New", Courier, monospace;
}

/* ICONS  */
.new_notes_icon {
  position: fixed;
  background: white;
  bottom: 25%;
  right: 20px;
  width: 50px;
  border: 2px solid gray;
}

.view_calender_icon {
  position: fixed;
  background: white;
  bottom: 15%;
  right: 20px;
  width: 50px;
  border: 2px solid gray;
}

.new_list_icon {
  position: fixed;
  background: white;
  bottom: 5%;
  right: 20px;
  width: 50px;
  border: 2px solid gray;
  display: inline-block;
}
/* _____________________________________________________________ */
