/* CONTAINERS */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.main_container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgb(40, 40, 40);
  background-size: cover;
  overflow-y: auto;
}
/* ________________________________________________________________ */

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#main_heading {
  display: flex;
  color: red;
  position: relative;
  top: 3%;
  left: 20px;
  font-size: 36px;
  font-weight: bolder;
}

#sub_heading {
  position: relative;
  display: flex;
  flex-direction: row;
  color: silver;
  top: 5%;
  left: 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile_img {
  position: relative;
  display: flex;
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  right: 10%;
  top: 5%;
  margin-bottom: 10px;
}

.profile_img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile_btn-primary {
  position: relative;
  height: auto;
  right: 10%;
}
/* ________________________________________________________________ */

/* SEARCH */
.search_bar {
  position: relative;
  margin-top: 50px;
  left: 20px;
  margin-bottom: 50px;
}

.search_bar input {
  position: relative;
  padding-right: 35%;
  padding-bottom: 6px;
}

#search_button {
  position: relative;
}
/* ___________________________________________________________________ */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

/* LIST */
.list_container {
  position: relative;
  left: 20px;
  padding: 2%;
  background: linear-gradient(135deg, rgb(58, 57, 57), black);
  max-width: 700px;
  min-width: 600px;
  box-shadow: 0 4px 20px 0 rgba(241, 237, 237, 0.2),
    0 6px 20px 0 rgba(48, 45, 45, 0.19);
  color: white;
}

.title_input {
  text-align: center;
}

.title_input #title {
  text-align: center;
  background: transparent;
  color: white;
  padding: 5px;
}


.chekclist{
  margin: 0;
  padding: 0;
}

.checklist li {
  list-style: none;
  padding: 15px 0 0 0;
  cursor: pointer;
  list-style: none;
}


.add_task_text{
  margin-left: 40px;
  padding-right: 20px;
}
#add_task {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
}
/* ______________________________________________________________ */

/* NOTES */
.notes_container {
  position: relative;
  right: 20px;
  max-width: 600px;
  min-width: 500px;
  background: linear-gradient(135deg, rgb(58, 57, 57), black);
  padding: 1%;
  color: white;
  scrollbar-color: gray black;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(241, 237, 237, 0.2),
    0 6px 20px 0 rgba(48, 45, 45, 0.19);
}

.notes_container h3 {
  font-family: "Courier New", Courier, monospace;
}

.notes_container textarea{
  resize: none;
}

/* ICONS  */
.new_notes_icon {
  position: fixed;
  background: white;
  bottom: 25%;
  right: 20px;
  width: 50px;
  border: 2px solid gray;
  display: inline-block;
}


.new_note_pop_up{
  visibility: hidden;
  width: 120px;
  background-color: blue;
  color: white;
  text-align: center;
  margin-left: 5px;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  bottom: 25%;
  right: 80px;
  opacity: .75;
  transition: 5s;
}

.new_notes_icon:hover .new_note_pop_up{
  visibility: visible;
  opacity: 1;
}

.view_calender_icon {
  position: fixed;
  background: white;
  bottom: 15%;
  right: 20px;
  width: 50px;
  border: 2px solid gray;
}


.view_calender_pop_up{
  visibility: hidden;
  width: 120px;
  background-color: blue;
  color: white;
  text-align: center;
  margin-left: 5px;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  bottom: 15%;
  right: 80px;
  opacity: .75;
  transition: 5s;
}

.view_calender_icon:hover .view_calender_pop_up{
  visibility: visible;
  opacity: 1;
}

.new_list_icon {
  position: fixed;
  background: white;
  bottom: 5%;
  right: 20px;
  width: 50px;
  border: 2px solid gray;
  display: inline-block;
}


.new_list_pop_up{
  visibility: hidden;
  width: 120px;
  background-color: blue;
  color: white;
  text-align: center;
  margin-left: 5px;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  bottom: 5%;
  right: 80px;
  opacity: .75;
  transition: 5s;
}

.new_list:hover::after .new_list_pop_up{
  visibility: visible;
  opacity: 1;
}


/* _____________________________________________________________
