/* * {
  padding: 0;
  margin: 0;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main_container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /* width: 100%;
  height: 100%; */
  background: rgb(40, 40, 40);
}

.main_header {
  color: red;
  position: relative;
  top: 10%;
  left: 10%;
  font-size: 36px;
}

.main_sub_header {
  color: silver;
  position: relative;
  top: 12%;
  left: 10%;
  font-size: 20px;
}

.login_container {
  position: relative;
  top: 20%;
  left: 40%;
  display: inline-block;
  border: 5px solid whitesmoke;
  padding: 0% 3% 3% 3%;
  border-radius: 10%;
  background: linear-gradient(135deg, rgb(58, 57, 57), black);
}

.login_header {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

.login_username {
  padding-bottom: 10%;
  color: white;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.login_password {
  padding-bottom: 10%;
  color: white;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.not_member {
  color: white;
  text-align: center;
}

.sign_up_link {
  color: white;
}

.forgot_username_password {
  text-align: center;
}

.forgot_username_password h4 a {
  color: white;
}

.login_submit_button {
  padding: 5%;
  text-align: center;
}
